@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: rgb(5, 5, 5);
    --background: rgb(250, 250, 250);
    --primary: rgb(9, 61, 165);
    --secondary: rgb(207, 222, 252);
    --accent: rgb(13, 89, 242);
    --btn-text: rgb(255, 255, 255);
  }

  [data-theme="dark"] {
    --text: rgb(250, 250, 250);
    --background: rgb(5, 5, 5);
    --primary: rgb(9, 61, 165);
    --secondary: rgb(3, 18, 48);
    --accent: rgb(110, 156, 247);
    --grid: rgb(5, 5, 5);
    --btn-text: rgb(0, 0, 0);
  }

  [data-theme="light"] {
    --text: rgb(5, 5, 5);
    --background: rgb(250, 250, 250);
    --primary: rgb(9, 61, 165);
    --secondary: rgb(207, 222, 252);
    --accent: rgb(13, 89, 242);
    --btn-text: rgb(255, 255, 255);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text: rgb(250, 250, 250);
      --background: rgb(5, 5, 5);
      --primary: rgb(9, 61, 165);
      --secondary: rgb(3, 18, 48);
      --accent: rgb(110, 156, 247);
      --btn-text: rgb(255, 255, 255);
    }
  }
}